.nav{

  background-color: rgb(8, 5, 5);
  text-align: right;
  
  width: 1400px;
  
  }
  .navbar li{
    display: inline-block;
    color: aliceblue;
    
  }
  .navbar a {
    width: 100px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    
  }
  .navbar a :hover{
    background: rgb(230, 213, 213);
  }
  .login{
    width: 400px;
    padding: 20px;
    box-shadow:0 0 5px rgba(0, 0, 0, 0.25);
    background-color: rgb(204, 206, 199);
  }
  .ap{
    background-color: rgb(10, 1, 1);
    padding-left: 300px;
    padding-right: 300px;
   
  }
  .bp{
    background-color: rgba(118, 253, 65, 0.842);
    padding-left: 300px;
    padding-right: 300px;
    margin: 20px;
  }
  .navbar ul{
    margin-left: 2px;
  }
  .navbar ul svg{
    margin-right: 700px;
    color: rgb(241, 243, 245);
  }
  
  